p{
color:blue; 
}
p:hover{
    color: rgb(0, 255, 94);
}
.cor{
    color: rgb(200, 87, 6);
    font-size: 32px;
}

#texto{
    color: rgb(0, 247, 255);
    border: 1px solid rgb(255, 0, 251);
    text-align: center;
}

#texto2{
    color: rgb(0, 255, 221);
    border: 1px solid rgb(255, 0, 0);
    text-align: center;
}

