h2{
    color: rgb(255, 230, 2);
    font-size: 40px;
}
h1{
    color: rgb(166, 255, 2);
    font-size: 40px;
}

#img1{
    width: 500px; 
    height: 300px; 
}

#imgpadrin{
    width: 500px; 
    height: 500px; 
}
