body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333131;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #1e90ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.card.flipped {
    background-color: #fff;
}

.card.flipped img {
    display: block;
}

.victory-message {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.victory-message.show {
    display: block;
}

h1{
    color: rgb(202, 224, 0);
}